<div class="info">
    <h2>{{ item.title }}</h2>
    <p class="subheading">{{ item.city }} / {{ item.created | date:'MMMM d, yyyy'}}</p>
    <div class="img_container">
        <img data-ng-src="{{ item.img }}">
    </div>
    <div class="price_container">
        <p>{{ item.price | currency: '&euro;' }}</p>
    </div>
    <div class="desc_container">
        <p>{{ item.description }}</p>
    </div>
    <div class="contacts_container">
        <p class="q">Interested? Contact the seller!</p>
        <button data-ng-hide="hideButtShowPar" data-ng-click="showContacts()">show contact information</button>
        <div data-ng-show="hideButtShowPar">
            <p>{{ item.name }}</p>
            <p>tel. {{ item.phone }}</p>
            <p>{{ item.email }}</p>
        </div>
    </div>
</div>