<div class="right_container">
    <h1 class="pageHeading">{{ pageHeading | capitalize }}</h1>
    <ul>
        <li class="block" data-ng-repeat="item in data | orderBy : 'created' : reverse=true" data-ng-mouseenter="showIt = true" data-ng-mouseleave="showIt = false" data-super-hover>
            <div class="image_height" data-ng-click="showItem(item._id, item.category)">
                <img data-ng-src="{{ item.img }}">
            </div>
            <div class="text_section">
                <div class="button_section">
                    <button class="button_test" data-ng-if="isLogged()" data-ng-click="editItem(item.ID, item.category)" data-ng-show="showIt" data-icon="&#xe608;">EDIT</button>
                    <button class="button_test" data-ng-if="isLogged()" data-ng-click="deleteItem(item.ID, item.category)" data-ng-show="showIt" data-icon="&#xe606;">DELETE</button>
                </div>
                <h1>{{ item.title }}</h1>
                <h2>{{ item.price | currency: '&euro;' }}</h2>
                <p>{{ item.city }},
                {{ item.created | date:'MMMM d' }}</p>
            </div>
        </li>
    </ul>
</div>