* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
  list-style: none;
  color: #3b3b3b; }

[data-icon]::before {
  font-family: icomoon;
  content: attr(data-icon);
  margin-right: 8px;
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1; }

a {
  cursor: pointer; }

.wrapper {
  max-width: 62.5em;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  margin-bottom: 100px; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

header {
  display: block;
  padding: 0;
  background-color: #fff;
  height: 100px;
  box-sizing: content-box; }
  header:after {
    content: "";
    display: table;
    clear: both; }
  header .logo {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    text-transform: lowercase;
    text-align: center;
    display: table;
    height: 100%; }
    header .logo:last-child {
      margin-right: 0; }
    header .logo a {
      font-family: 'Londrina Solid', cursive;
      color: #00abec;
      font-size: 5em;
      display: table-cell;
      vertical-align: middle; }
  header nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 74.41059%;
    height: 100%;
    display: table;
    text-align: center;
    position: relative; }
    header nav:last-child {
      margin-right: 0; }
    header nav div {
      text-align: center;
      cursor: pointer;
      display: table-cell;
      vertical-align: middle; }
    header nav ul {
      display: table-cell;
      vertical-align: middle;
      padding: 0;
      float: right;
      position: absolute;
      top: 0px;
      right: 20px;
      border: 1px dashed #3b3b3b; }
    header nav li {
      float: left;
      margin: 0;
      padding: 10px 15px;
      width: 175px;
      letter-spacing: -1px;
      cursor: pointer; }
      header nav li:nth-child(2) {
        border-left: 1px dashed #3b3b3b; }
    header nav a {
      text-shadow: 0px 0px 1px #ddd;
      font-weight: 300;
      color: #3b3b3b;
      display: inline-block;
      width: 100%; }
    header nav input {
      color: #aaa;
      padding: 2px 8px;
      width: 275px;
      display: table-cell;
      vertical-align: middle; }

.top_container {
  display: block;
  padding: 20px 0px 15px 0px;
  text-shadow: 0px 0px 1px #ddd;
  border: 1px solid #CCCCCC;
  background-image: -webkit-linear-gradient(180deg, #fcfcfc 10%, #ffffff 90%);
  background-image: linear-gradient(180deg, #fcfcfc 10%, #ffffff 90%); }
  .top_container:after {
    content: "";
    display: table;
    clear: both; }
  .top_container ul {
    margin: 0 25px;
    padding: 0;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 5px; }
    .top_container ul li {
      padding: 7px 0px;
      width: 125px;
      font-weight: 300;
      letter-spacing: -1px;
      float: left;
      border-right: 1px solid #ccc;
      cursor: pointer;
      text-align: center; }
      .top_container ul li:last-child {
        border-right: none; }
    .top_container ul li.selected {
      background-color: #C1D90D;
      color: #fff; }
      .top_container ul li.selected [data-icon]::before {
        color: #fff; }
  .top_container select {
    width: 100%;
    padding: 2px 7px;
    border: 1px solid #ccc;
    font-weight: 300; }

.right_container {
  display: block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  color: #3b3b3b;
  padding: 0 20px; }
  .right_container:after {
    content: "";
    display: table;
    clear: both; }
  .right_container:last-child {
    margin-right: 0; }
  .right_container .pageHeading {
    font-weight: 700;
    letter-spacing: -5px;
    font-size: 5em;
    text-shadow: 0px 0px 1px #ddd;
    margin: 10px 0;
    padding: 0; }
  .right_container ul {
    padding: 0;
    margin: 0; }
  .right_container li.block {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 18.11388%;
    height: 185px;
    padding: 0px;
    margin-top: 25px;
    overflow: hidden; }
    .right_container li.block:last-child {
      margin-right: 0; }
    .right_container li.block:nth-child(5n) {
      margin-right: 0; }
    .right_container li.block:nth-child(5n+1) {
      clear: left; }
    .right_container li.block h1 {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 700;
      text-align: center;
      font-size: 0.8em;
      color: #3b3b3b; }
    .right_container li.block h2 {
      font-weight: 300;
      color: #3b3b3b;
      text-align: center;
      font-size: 1em;
      width: 70%;
      margin-left: 24px;
      position: absolute;
      bottom: 18px;
      border: 1px solid #3b3b3b; }
    .right_container li.block p {
      margin: 0;
      text-align: center;
      font-size: 0.8em;
      font-weight: 400;
      color: #aaa;
      padding: 0;
      display: inline-block;
      width: 100%;
      border-top: 1px solid #ccc;
      position: absolute;
      bottom: 0; }

div.image_height {
  height: 95px;
  overflow: hidden;
  background-color: #3b3b3b;
  padding: 0;
  margin: 0; }
  div.image_height img {
    width: 100%; }

div.text_section {
  position: relative;
  border: 2px solid #ccc;
  height: 90px;
  padding: 0;
  margin: 0; }

.ad_hover {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.01, 0.73, 0.28, 0.99);
  -moz-transition-timing-function: cubic-bezier(0.01, 0.73, 0.28, 0.99);
  transition-timing-function: cubic-bezier(0.01, 0.73, 0.28, 0.99); }

.ad_hover:hover {
  cursor: pointer;
  box-shadow: 0px 0px 0px 5px #00abec; }

div.info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  margin-top: 40px; }
  div.info:last-child {
    margin-right: 0; }
  div.info h2 {
    text-align: center;
    font-size: 3.5em;
    font-weight: 700;
    margin: 0;
    letter-spacing: -3px;
    text-shadow: 0px 0px 1px #aaaaaa; }
  div.info p.subheading {
    font-size: 1.75em;
    font-weight: 300;
    color: #ccc;
    text-align: center;
    margin: 0 0 30px;
    letter-spacing: -2px; }
  div.info div.desc_container {
    width: 63%; }
    div.info div.desc_container p {
      font-weight: 300;
      letter-spacing: -1px; }
  div.info div.img_container img {
    box-shadow: 0px 0px 0px 5px #f1f1f1;
    display: block;
    margin: 0 auto 50px;
    max-width: 100%; }
  div.info div.price_container {
    float: right;
    font-size: 2em;
    font-weight: 700;
    border: 5px solid #3b3b3b;
    color: #3b3b3b;
    width: 30%;
    text-align: center;
    padding: 15px;
    letter-spacing: -2px;
    text-shadow: 0px 0px 1px #aaaaaa; }
    div.info div.price_container p {
      margin: 0; }
  div.info div.contacts_container {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    text-align: center; }
    div.info div.contacts_container p.q {
      font-size: 2em;
      font-weight: 700;
      letter-spacing: -2px;
      margin-bottom: 5px;
      text-shadow: 0px 0px 1px #aaaaaa; }
    div.info div.contacts_container button {
      margin: 13px 0 0;
      background: #C1D90D;
      color: #fff;
      border: 0;
      font-weight: 300;
      padding: 10px 35px;
      border-radius: 5px; }
    div.info div.contacts_container div {
      border-top: 7px solid #C1D90D;
      width: 50%;
      padding: 20px;
      margin: 20px auto 0; }
    div.info div.contacts_container div p {
      font-weight: 300;
      font-size: 1.25em;
      margin: 0;
      letter-spacing: -1px; }

form.placingForm {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%;
  border: 1px solid #ccc;
  padding: 25px 50px 50px;
  margin-top: 40px; }
  form.placingForm:last-child {
    margin-right: 0; }
  form.placingForm h2 {
    text-shadow: 0px 0px 1px #aaaaaa;
    font-weight: 700;
    font-size: 5em;
    letter-spacing: -5px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center; }
  form.placingForm label {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 4px; }
  form.placingForm p {
    display: inline;
    font-size: 0.8em;
    color: #bbb; }
  form.placingForm select {
    width: 150px;
    padding: 3px 5px; }
  form.placingForm option {
    padding-left: 10px; }
  form.placingForm select, form.placingForm option {
    font-weight: 300; }
  form.placingForm input {
    padding: 3px 5px;
    font-weight: 300; }
  form.placingForm input.formTitle {
    width: 50%; }
  form.placingForm textarea.formDescription {
    width: 100%;
    min-height: 100px;
    max-height: 225px;
    padding: 4px 7px;
    font-weight: 300;
    resize: vertical; }
  form.placingForm input.formImage {
    width: 50%; }
  form.placingForm div.formCategory {
    float: right;
    width: 40%; }
    form.placingForm div.formCategory select {
      width: 100%; }
  form.placingForm div.formPrice {
    float: right;
    width: 40%; }
    form.placingForm div.formPrice input {
      width: 100%; }
  form.placingForm div.contact_information {
    background-color: #C1D90D;
    margin-top: 15px;
    padding: 20px; }
    form.placingForm div.contact_information p {
      color: #fff; }
    form.placingForm div.contact_information label {
      margin-top: 0;
      color: #fff; }
    form.placingForm div.contact_information input {
      border: 1px solid #fff;
      margin-bottom: 15px; }
    form.placingForm div.contact_information input.formEmail {
      width: 50%;
      margin-bottom: 0; }
    form.placingForm div.contact_information select {
      border: none; }
    form.placingForm div.contact_information div.notation {
      float: right;
      display: inline-block;
      width: 40%;
      border: 1px solid #fff;
      padding: 15px 10px;
      text-align: center; }
  form.placingForm div.formButton {
    text-align: center; }
    form.placingForm div.formButton button {
      margin: 55px 0 15px;
      background: #00abec;
      color: #fff;
      border: 0;
      font-weight: 700;
      padding: 15px 40px;
      border-radius: 5px;
      font-size: 1.5em;
      letter-spacing: -2px; }

form.loginForm {
  text-align: center;
  padding: 50px 50px 0; }
  form.loginForm h2 {
    text-shadow: 0px 0px 1px #aaaaaa;
    font-weight: 700;
    font-size: 4em;
    letter-spacing: -4px;
    margin-top: 0;
    margin-bottom: 70px; }
  form.loginForm label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 400; }
  form.loginForm input {
    padding: 3px 5px;
    margin-bottom: 12px;
    font-weight: 300; }
  form.loginForm div.login_error {
    margin-bottom: 20px;
    background-color: #F27405;
    color: #fff;
    display: inline-block;
    padding: 20px;
    font-weight: 400; }
  form.loginForm button {
    margin: 25px 0 50px;
    background: #C1D90D;
    color: #fff;
    border: 0;
    font-weight: 700;
    padding: 20px 50px;
    border-radius: 5px;
    font-size: 1.5em;
    letter-spacing: -2px; }

.button_section {
  background-color: #fff;
  color: #3b3b3b;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1; }
  .button_section .button_test {
    color: #3b3b3b;
    width: 100%;
    background-color: #fff;
    border: none;
    float: right;
    height: 43px; }
    .button_section .button_test:nth-child(1) {
      border-bottom: 1px dashed #3b3b3b; }
    .button_section .button_test:hover {
      text-decoration: underline; }

div.confirm {
  text-align: center; }
  div.confirm h2 {
    text-align: center;
    font-size: 5em;
    line-height: 1em;
    letter-spacing: -5px;
    font-weight: bold;
    height: 50%;
    text-shadow: 0px 0px 1px #ddd; }
  div.confirm button {
    margin: 25px 15px 50px;
    background: #C1D90D;
    color: #fff;
    border: 0;
    width: 100px;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1.5em;
    letter-spacing: -2px; }
    div.confirm button:nth-child(3) {
      background-color: #F27405; }

form.editForm {
  padding: 25px 50px 50px;
  margin-top: 40px; }
  form.editForm h2 {
    text-shadow: 0px 0px 1px #aaaaaa;
    font-weight: 700;
    font-size: 5em;
    letter-spacing: -4px;
    margin-top: 0;
    margin-bottom: 40px;
    text-align: center; }
  form.editForm label {
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 4px; }
  form.editForm p {
    display: inline;
    font-size: 0.8em;
    color: #bbb; }
  form.editForm select {
    width: 150px;
    padding: 3px 5px; }
  form.editForm option {
    padding-left: 10px; }
  form.editForm select, form.editForm option {
    font-weight: 300; }
  form.editForm input {
    padding: 3px 5px;
    font-weight: 300; }
  form.editForm input.formTitle {
    width: 50%; }
  form.editForm textarea.formDescription {
    width: 100%;
    height: 225px;
    padding: 4px 7px;
    font-weight: 300;
    resize: vertical; }
  form.editForm input.formImage {
    width: 40%;
    clear: both; }
  form.editForm div.formCategory {
    float: right;
    width: 40%; }
    form.editForm div.formCategory select {
      width: 100%; }
  form.editForm div.formPrice {
    width: 40%;
    padding-top: 50px; }
    form.editForm div.formPrice input {
      width: 100%; }
  form.editForm img {
    width: 50%;
    float: right;
    box-shadow: 0px 0px 0px 5px #f1f1f1;
    margin-right: 5px;
    margin-top: 25px;
    margin-bottom: 30px; }
  form.editForm div.contact_information {
    background-color: #C1D90D;
    margin-top: 15px;
    padding: 20px;
    clear: both; }
    form.editForm div.contact_information p {
      color: #fff; }
    form.editForm div.contact_information label {
      margin-top: 0;
      color: #fff; }
    form.editForm div.contact_information input {
      border: 1px solid #fff;
      margin-bottom: 15px; }
    form.editForm div.contact_information input.formEmail {
      width: 50%;
      margin-bottom: 0; }
    form.editForm div.contact_information select {
      border: none; }
    form.editForm div.contact_information div.formCity {
      float: right;
      width: 40%; }
      form.editForm div.contact_information div.formCity .formPhone {
        width: 100%; }
      form.editForm div.contact_information div.formCity select {
        width: 100%;
        margin-bottom: 16px; }
  form.editForm div.formButton {
    text-align: center; }
    form.editForm div.formButton button {
      margin: 55px 25px 15px;
      background: #00abec;
      color: #fff;
      border: 0;
      width: 150px;
      font-weight: 700;
      padding: 15px 35px;
      border-radius: 5px;
      font-size: 1.5em;
      letter-spacing: -2px; }
      form.editForm div.formButton button:nth-child(2) {
        background-color: #F27405; }

div.un_buttons {
  display: inline-block;
  text-align: center;
  width: 100%; }
  div.un_buttons button {
    margin: 55px 25px 15px;
    background: #00abec;
    color: #fff;
    border: 0;
    width: 150px;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 1.5em;
    letter-spacing: -2px; }
    div.un_buttons button:nth-child(2) {
      background-color: #3F2559; }

/*# sourceMappingURL=main.css.map */
